---
import "@/styles/global.css";
import Layout from '@/layouts/Layout.astro';

import FindingsManagePage from '@/components/pages/FindingsManagePage';
---

<Layout breadcrumbL1="Findings" breadcrumbL2="Overview">
    <div class="">
        <h1 class="mb-4">Findings Overview</h1>
        <FindingsManagePage client:load />
    </div>
</Layout>