---
import "@/styles/global.css";
import Layout from '@/layouts/Layout.astro';

import FindingsOverviewPage from '@/components/pages/FindingsOverviewPage';
---

<Layout breadcrumbL1="Findings" breadcrumbL2="Overview" breadcrumbL1Href="/project/findings/overview">
    <div class="">
        <h1 class="mb-4">Findings Overview</h1>
        <FindingsOverviewPage client:load />
    </div>
</Layout>