---
import "@/styles/global.css";
import Layout from '@/layouts/Layout.astro';
import ApplicationsOverviewPage from "@/components/pages/ApplicationsOverviewPage";
---

<Layout breadcrumbL1="Inventory" breadcrumbL2="Applications" breadcrumbL1Href="/project/inventory/overview">
    <div class="">
        <h1 class="mb-4">Applications</h1>
        <ApplicationsOverviewPage client:load />
    </div>
</Layout>
