---
import "@/styles/global.css";
import Layout from '@/layouts/Layout.astro';
import ServicesOverviewPage from "@/components/pages/ServicesOverviewPage";
import InventoryOverviewPage from "@/components/pages/InventoryOverviewPage";
---

<Layout breadcrumbL1="Inventory" breadcrumbL2="Overview" breadcrumbL1Href="/project/inventory/overview">
    <div class="">
        <h1 class="mb-4">Inventory Overview</h1>
        <InventoryOverviewPage client:load />
    </div>
</Layout>
