---
import "@/styles/global.css";
import Layout from '@/layouts/Layout.astro';
import TargetsOverviewPage from '@/components/pages/TargetsOverviewPage'
---

<Layout breadcrumbL1="Targets" breadcrumbL2="Overview" breadcrumbL1Href="/project/findings/overview">
    <div class="">
        <h1 class="mb-4">Targets</h1>
        <TargetsOverviewPage client:load />
    </div>
</Layout>
