---
import Page from "@/app/dashboard/page";
import { Toaster } from "@/components/ui/sonner"
import { getSession } from "auth-astro/server";
import { extractSessionCookie } from "@/lib/utils";
import { getProjects } from "@/lib/api/projects";
import type { User } from "@/lib/userStore";

const session = await getSession(Astro.request);

if (!session || !session.user) {
	Astro.redirect("/");
	return 
}

const user: User = session.user as User;

const sessionToken = extractSessionCookie(Astro);

const defualtSidebarOpen = Astro.cookies.get("sidebar:state")?.value === 'true';
const projects = await getProjects(sessionToken);

const {breadcrumbL1, breadcrumbL2, breadcrumbL1Href} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Zecas</title>
	</head>
	<body id="wrapper">
		<Toaster client:load />
		<Page
			client:load
			defaultSidebarOpen={defualtSidebarOpen} 
			breadcrumbL1={breadcrumbL1 ?? "Scans"}
			activeUser={{...user, access_token: sessionToken ?? ""}}
			breadcrumbL1Href={breadcrumbL1Href ?? "/"}
			breadcrumbL2={breadcrumbL2 ?? "Results"}
			projectData={{activeProject: undefined, projects}}
		>
			<slot />
		</Page>
	</body>
</html>

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>