---
import "@/styles/global.css";
import Layout from '../layouts/Layout.astro';

import SimpleTable from '@/components/simple-table';
---

<Layout breadcrumbL1="Projects" breadcrumbL2="Overview">
    <div>
    </div>
    <div class="grid auto-rows-min gap-4 md:grid-cols-3">
        <div class="col-span-2">
            <SimpleTable
                headers={[{key: "a", label: "Col 1"}]}
                tableRows={[{"a": "Ahhh"}]}
            />
        </div>
    </div>
    <div class="bg-muted/50 min-h-[100vh] flex-1 rounded-xl md:min-h-min" />
</Layout>