---
import "@/styles/global.css";
import Layout from '@/layouts/Layout.astro';
import TargetSettingsForm from '@/components/target-settings-form';
---

<Layout breadcrumbL1="Settings" breadcrumbL2="Targets" breadcrumbL1Href="#">
    <h1>Target Settings</h1>
    <TargetSettingsForm client:load />
</Layout>